
/* main game page */
body {
  font-family: "roboto", sans-serif; 
  height:100%;
  width: 100%;
  text-align:center;
  font-size:16px;
  margin: 0;
  padding: 0;
  padding: 0;
  border: 0;
}

.row {
  width: 100%;
}

.col {
  margin: 0;
  padding: 0;
  padding: 0;
  border: 0;
}

.hidden {
  display: none;
}

/* header */
.header{
  height: auto;
  width:100%;
  margin:0 auto;
  background-color:#202020;
}

h1 {
  margin-bottom: 50px;
}

h1, h2, h3, h4 {
	font-weight: 200;
  color: #99a3a6;
}

p {
  color: #fafafa;
  margin-bottom: 0;
  padding-bottom: 20px;
}

.link {
  color: #fafafa;
}

.link:hover {
  color: #99a3a6;
}

.gameContainer {
  padding-top: 30px;
  max-width: 100%;
  background-color: #fafafa;
  
}

.win, .lose {
  background-color: #3f3f3f;
}

.livesContainer h3 {
  
  color: #202020;
}

.lives {
  
  color: rgb(90, 7, 7);
}

.play {
  height: 30px;
  width: 90px;
  font-size: large;
  color: #fafafa;
  background-color: #3f3f3f;
  border: none;
}

.play:hover {
  background-color: #99a3a6;
}

/* card styles */


.card{
  width: 200px;
  margin: 10px;
  height: 200px;
}

.card:hover {
  cursor: pointer;
  opacity: 0.7;

}

.back{
  background: url("../images/back.jpg") center center no-repeat;
  background-size: contain;
}


.front#one {
  background: url("../images/one.jpg") center center no-repeat;
  background-size: contain;
}

.front#two {
  background: url("../images/two.jpg") center center no-repeat;
  background-size: contain;
}

.front#three {
  background: url("../images/three.jpg") center center no-repeat;
  background-size: contain;
}

.front#four {
  background: url("../images/four.jpg") center center no-repeat;
  background-size: contain;
}

.front#five {
  background: url("../images/five.jpg") center center no-repeat;
  background-size: contain;
}

.front#six {
  background: url("../images/six.jpg") center center no-repeat;
  background-size: contain;
}

.front#seven {
  background: url("../images/seven.jpg") center center no-repeat;
  background-size: contain;
}

.front#eight {
  background: url("../images/eight.jpg") center center no-repeat;
  background-size: contain;
}

.selected{
  opacity: 0.7;

}

.correct{
  opacity: 0.7;

}


/* footer */
.about {
  margin-left: 20px;
}

footer {
  background-color: #3f3f3f;
  width: 100%;
}

.general-sub {
  padding: 20px 0;
  color: #99a3a6;
}

footer p {
  color: #f6f6f6fa;
}


footer h5 {
  color: #99a3a6;
}

.contact-info {
  font-weight: 100;
  color: #f6f6f6fa
}

.social-links {
  padding-top: 10px;
  padding-right: 20px;
}

.social-links li a i {
  width: 50px;
  height: 50px;
  padding: 20px 0;
  border-radius: 50%;
  font-size: 25px;
  line-height: 10px;
  text-align: center;
  color: #fafafa;
  background: #707070;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {  
  background: 	#99a3a6;
}

#copyright {
  background-color: rgb(44, 44, 44);
  height: 75px;
}

#copyright h6 {
  padding-top: 20px;
  color: white;
}

.cp-text {
  color: #99a3a6;
}
 /* large tablet/ small desktop */
@media (max-width: 1024px) {

  .social-links li a i {
    width: 45px;
    height: 45px;
  }
  
}

/* tablet */
@media (max-width: 768px) {

  .card {
    width: 100px;
    height: 100px;
  }
  
}
  
/* mobile */
@media (max-width: 480px) {

  .card {
    width: 70px;
    height: 70px;
  }
  
}
/* small mobile */
@media (max-width: 460px) {

  .card {
    width: 50px;
    height: 50px;
  }
  
}
  

